﻿@inherits IndexBase
@page "/"

<h1>Score Event Points Calculator</h1>

<h2>Configuration</h2>
@if (_Configuration != null) {
  <table>
    <tr>
      <th>Control Number Start</th>
      <th>Control Number End</th>
      <th>Points</th>
      <th></th>
    </tr>
    @foreach (var item in _Configuration.ControlPointValues) {
      <tr>
        <td><input type="number" @bind="item.ControlNumberStart" /></td>
        <td><input type="number" @bind="item.ControlNumberEnd" /></td>
        <td><input type="number" @bind="item.Points" /></td>
        <td><button @onclick="@(e => Remove(item))">Remove</button></td>
      </tr>
    }
  </table>
  <button @onclick="Add">Add</button>
  <br />
  <br />
  <button @onclick="Sort">Sort</button>
  <br />
  <br />
  <label>Max Time In Minutes:</label>
  <input type="number" @bind="_Configuration.MaxTimeInMinutes" />
  <br />
  <label>Penalty Per Minute:</label>
  <input type="number" @bind="_Configuration.PenaltyPerMinute" />
  <br />
  <br />
  <button @onclick="Save">Save Configuration</button>
  <br />
  <br />
}

@if (!String.IsNullOrWhiteSpace(_Message)) {
  <p>@_Message</p>
}

<label>Result file (in IOF XML v3):</label>
<input type="file" @ref=InputTypeFileElement multiple @onchange="Process" />